* {
    font-family: 'Roboto';
}
.header-text {
    text-align: center;
}
.search-bar {
    text-align: center;
    width: 50%;
    margin: 10px auto;
}
.prev-searches {
    margin-bottom: 20px;
}
.search-btn {
    margin: 10px;
}
.history-btn {
    margin: 5px;
}
header {
    background: rgb(226, 226, 226);
    padding: 20px 0 15px 0;
}